<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peter.testapp">

    <uses-permission android:name="android.permission.INTERNET" />
//Requests a permission that the application must be granted in order for it to operate correctly. Permissions are granted by the user when the application is installed

    <application
        android:allowBackup="true"
        android:icon="@mipmap/foodela"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">


        <activity android:name=".MainActivity"
            android:label="@string/app_name" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>


